.cart{
  padding: 5px;

}
.favoriet{
  padding: 5px;
}
.profile{
  padding: 5px;
}
.nav{
  background-color:#316B83;
  // #2b2d42;
  // #8e9aaf;
   color: white;
  // height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav a{
  color: white;
}
.text{
  color: white;
  font-size:20px;
}
.textDrop{
  color: black;
}

