

<header>
    <nav class="navbar navbar-expand-lg navbar-light nav">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse row" id="navbarTogglerDemo01">
              <div class="col-lg-2  col-md-6 col-sm-6 col-12 ">
                <a class="navbar-brand " href="#">
                  <img src="assets/logo.jpeg " style="height: 80px;width: 90px; border-radius: 80%;">
                </a>
             </div>
            <ul class="navbar-nav me-auto col-lg-4 col-md-3 col-sm-0">
              <!-- mb-2 mb-lg-0  -->

              <li class="nav-item text-white">
                <a class="nav-link  text" routerLinkActive="active" routerLink="/SubscriberPage/subscriber" > اضافة مشترك</a>
                <!-- [routerLinkActiveOptions]="{exact: true}" -->
              </li>

              <li class="nav-item">
                <a class="nav-link  text" routerLinkActive="active" aria-current="page" routerLink="/OrderPage/order">السحب</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text" routerLinkActive="active" routerLink="/OrderPage/report">التقارير</a>
              </li>



            </ul>

            <div class=" d-flex col-lg-2  col-md-12 col-sm-12 col-12">

            <div class="profile">

                <a  routerLink="/LoginPage/login">
                  <i class="fas fa-user">
                </i>
                </a>

          </div>
        </div>
          </div>
        </div>
      </nav>

  </header>
